@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
background-color: #A0A0A0; 
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}
/*Front Page*/
.container-fluid-frontpage{
  background: url("img/fullback2.png");
}
.container-fluid-body{
  background: url("img/darkbackground.png");
  background-size: cover;
}
.navbar{
  padding: .8rem;

}
.navbar-nav li{
  padding-right: 150px;
  padding-left: 120px;
}
.nav-link {
  font-size: 1.1em !important;
  color: white !important;
  text-shadow: 5px 5px 10px #000 !important;
}
.profile-image{
  padding-top: 250px;
}
.frontpage-caption h1{
  
  text-shadow: 1px 1px 10px #000;
}
.frontpage-caption h2{
  text-shadow: 1px 1px 10px #000;
  
}
.icons{
  padding-top: 10px;
  padding-bottom: 240px;
}
.fa-github{
  padding-right: 5px;
  color: white !important;
}
.fa-linkedin{
  padding-right: 5px;
  padding-left: 5px;
  color: white !important;
}
.fa-file{
  padding-left: 5px;
  color: white !important;
}
/*About Me*/
.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
  text-shadow: 1px 1px 10px #000;
}
.welcome hr{
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.chinaImg{
  position: relative;
  
}
.chinaImg img{
  height: 218px;
  width: 290px;
  outline: solid #808080;
  
}
.montrealImg{
  position: relative;
  padding-left: 50px;
  
  
}
.montrealImg img{
  
  height: 300px;
  width: 227px ;
  outline: solid #808080;
  
}
/*Skills*/
.skills{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
  text-shadow: 1px 1px 10px #000;
}
.skills hr{
  border-top: 2px solid white;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.second{
  text-indent: 25px;
  
}
.skills-text{
  text-indent: 25px;
  padding-top: 70px;     
}
/*Work*/
.work{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
  text-shadow: 1px 1px 10px #000;
}

.work hr{
  border-top: 2px solid white;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
/*Footer*/
.container-fluid-footer{
  padding-left: 100px;
  background-color:white;
  color: black !important
}

.carousel-inner img{
  width: 50%;
  height: 10%;

}
.jumbotron{
  padding: 1rem;
  border-radius:0;
}

.padding{
  padding-bottom: 2rem;
}

.card {
  padding: 2rem;
}

.row-card{
  margin-left: 25rem;
  
}

.card-title-gmail{
  margin-top: 65px;
}






/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}



.carousel-inner {
  position: relative;
  
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image 
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
--*/
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








